<h1>Your Task</h1>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<br>
<%= link_to "Back to Task Overview", tasks_path %>
<%= link_to "Create a new Task", tasks_new_path %>
<%= link_to "Update this Task", edit_path(@task) %>

<%= link_to "Delete this Task: #{@task.title}",
            destroy_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>